div#devices-wrapper{
    background: #ec793f;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;

    div.devices-info{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        div.devices-label{
            font-size: 12px;
            p{
                margin-bottom: 0;
            
            }
        }
        
    }

    div.button-group{
        padding: 20px;
        position: fixed;
        clear: both;
        left: 0;

        bottom: 0;
        text-align: center;
        width: 100%;

        button{
            border-radius: 0.2rem;
            padding: 7px 20px;
            font-size: 0.6rem;
            border: none;
            text-transform: uppercase;
            margin: 5px;
            font-weight: 500;


        }
        button.notify-button{
            background-color: white;
          
            color: #262e35;
        }

        button.logout-button{
            background-color: #262e35;
       
       
        }

        
    }
}